.absolute{
    position: absolute;
}

.m-240 {
    margin-left: 180px;
}

.ms-6{
    margin-left: 20px;
}

.me-12{
    margin-right: 12.5px;
}

.mt-110{
    margin-top: 110px !important;
}

.px-10{
    padding: 0 200px;
}

.color-spinner{
    color: #09fca7;
}

@media screen and (max-width: 720px) {
    .absolute{
        position: inherit;
    }
    .m-240{
        margin-left: 0;
    }
}