.img-avatar {
    max-width: 145px;
    max-height: 145px;
    border-radius: 50%;
    box-shadow: 0 0 90px #09fca7a8;
}

.width-info {
    max-width: 850px;
    width: 90%;
}

.shadow-white {
    text-shadow: 0 0 4px #fff;
}

.mt-10 {
    margin-top: 7.5rem;
}

.bar-divider {
    box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    color: #fff;
}

.search-container {
    width: 190px;
}

.search-my-videos {
    outline: none;
    border: none;
    border-bottom: 1px solid #09fca7;
}

.search-my-videos::placeholder {
    color: #dfdfdf;
}

.bi-search {
    font-size: 20px;
    color: #09fca7;
    text-shadow: 0 0 5px #09fca7, 0 0 2px #09fca7;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

.py-11{
    padding-top: 11px;
    padding-bottom: 13px;
}

.selected-title {
    border-bottom: 3px solid #fff;
    text-shadow: 0 0 1px #fff;
}

@media screen and (max-width: 1000px) {
    .responsive {
        justify-content: center;
    }

    .invert-order {
        flex-direction: column-reverse;
        text-align: start;
    }

    .search-responsive {
        margin-top: 5px !important;
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 720px) {
    .img-avatar{
        width: 120px;
        height: 120px;
    }
    .search-container{
        width: 300px;
    }

    .search-my-videos{
        width: 85%;
    }
    .align-items-responsive{
        align-items: center !important;
    }
}